# Looping statement:
## For loop Satement:

In [ ]:
#Syntax:
for <local var> in <objectname>:
    Statement

In [1]:
# 0 1 2 3 4 5
for i in range(5):
    print(i,end ="  ")

0  1  2  3  4

In [4]:
# 1 2 3 4 5 6 7 8 9 10
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [5]:
# print odd number from given range
# 1 3 5 7 9
for i in range(1,11,2):
    print(i,end = " ")

1 3 5 7 9

In [6]:
for i in range(10,100,10):
    print(i,end = " ")

10 20 30 40 50 60 70 80 90

In [8]:
for i in range(10,0,-1):
    print(i,end = " ")

10 9 8 7 6 5 4 3 2 1

In [9]:
for i in range(-30,-10,1):
    print(i,end = " ")

-30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11

In [10]:
# 0 to 100 want to print multiples both 2 and 5
for i in range(0,101):
    if i % 2== 0 and i % 5 ==0:
        print(i,end = " ")

0 10 20 30 40 50 60 70 80 90 100

In [13]:
# Print vowels from given sentence
sentence = input("Enter a sentence :")
vowels = "aeiouAEIOU"
for i in sentence:
        if i in vowels:
            print(i,end = " ")

Enter a sentence :Python is Simple Programming Language
o i i e o a i a u a e

In [18]:
# calculate the sum of all numbers from 1 to given number
n = int(input("Enter a number :"))
s = 0 # to store sum of all numbers
for i in range(1,n+1,1):
    s += i
print("sum is :",s)

Enter a number :100
sum is : 5050

In [19]:
#2
n = int(input())
x  = sum(range(1,n+1))
print("sum is :",x)

100
sum is : 5050

In [22]:
#input : 6
#output: 6*1 = 6
      # 6*2 = 12
n = int(input())
for i in range(1,11):
    
    print(n,"*",i,"=",n*i)

11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110