# Variables:
- To store some data values

In [1]:
a = 10 # single variable assign to single value
print(a)

10

In [2]:
a = b = c = 4 # multiple variables assign to single value
print(a,b,c)

4 4 4

In [3]:
a,b,c = 1,2,3 # Multiple variables assign to multiple values
print(a,b,c)

1 2 3

# Input Function:
- Reads Input from user

In [5]:
# Input as Text
x = input("Enter your name :")
print(x)
print(type(x))

Enter your name :AJay
AJay
<class 'str'>

In [9]:
# Input as Number
z = int(input("Enter a Number :"))
print(z)
print(type(z))

Enter a Number :4
4
<class 'int'>

# Data Types:
- integer
- String
- Float

In [10]:
# Integer
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [11]:
# String
s = 'Python'
print(s)
print(type(s))

Python
<class 'str'>

In [12]:
# Float
f = 12.3
print(f)
print(type(f))

12.3
<class 'float'>

# DataType conversions:
- Convert one data type to anothe datatype
   - Integer :int()
   - String :str()
   - Flaot : float()

In [15]:
x = 10
print(x,type(x))
s = str(x)
print(s,type(s))
f = float(x)
print(f,type(f))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>

In [22]:
s = "123"
print(s,type(s))
i = int(s)
print(i,type(i))
f = float(s)
print(f,type(f))

123 <class 'str'>
123 <class 'int'>
123.0 <class 'float'>

In [25]:
f = 12.1
print(f,type(f))
s = str(f)
print(s,type(s))
i = int(f)
print(i,type(i))

12.1 <class 'float'>
12.1 <class 'str'>
12 <class 'int'>